@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Alleviating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/frontPage/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/frontPage/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/frontPage/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <link href="/frontPage/css/minimal-slider.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet"><!-- //online-fonts -->
</head>
<body>
    <!-- main image slider container -->
    <div class="slide-window">
        <div class="slide-wrapper" style="width:300%;">
            <div class="slide">
                <div class="slide-caption text-center">
                    <h3 class="text-uppercase">میڈیکل انسایکلوپیڈیا <span>healthcare</span></h3>
                </div>
            </div>
            <div class="slide slide2">
                <div class="slide-caption text-center">
                    <h3 class="text-uppercase">میڈیکل انسایکلوپیڈیا <span>healthcare</span></h3>
                </div>
            </div>
            <div class="slide slide3">
                <div class="slide-caption text-center">
                    <h3 class="text-uppercase">میڈیکل انسایکلوپیڈیا <span>healthcare</span></h3>
                </div>
            </div>
        </div>
        <div class="slide-controller">
            <div class="slide-control-left">
                <div class="slide-control-line"></div>
                <div class="slide-control-line"></div>
            </div>
            <div class="slide-control-right">
                <div class="slide-control-line"></div>
                <div class="slide-control-line"></div>
            </div>
        </div>
    </div>
    <!-- main image slider container -->
    <!-- end of main image slider container -->
    
    <section class="departments">
        <div class="departments-1 py-lg-5">
            <div class="container py-5">
                <div class="text-center wthree-title pb-sm-5 pb-3">
                    <h3 class="w3l-sub text-white">
                        خصوصیات</h3>
                        <h4 class="sub-title py-3 text-white">میڈیکل انسایکلوپیڈیا</h4>
                </div>
                <div class="row py-lg-5">
                    <div class="col-sm-4 w3-ab">
                        <div class="w3-ab-grid text-center">
                            <div class="w3-aicon p-4">
                                <i class="fa fa-stethoscope" aria-hidden="true"></i>
                                <h4 class="my-3 text-capitalize text-white">بیماری</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 w3-ab">
                        <div class="w3-ab-grid text-center">
                            <div class="w3-aicon p-4">
                                <i class="fa fa-wheelchair" aria-hidden="true"></i>
                                <h4 class="my-3 text-capitalize text-white">علامات</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 w3-ab">
                        <div class="w3-ab-grid text-center">
                            <div class="w3-aicon p-4">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                <h4 class="my-3 text-capitalize text-white">علاج</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4 w3-ab">
                        <div class="w3-ab-grid text-center">
                            <div class="w3-aicon  p-4">
                                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <h4 class="my-3 text-capitalize text-white">وجوہات</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    
    <!-- choose -->
    <section class="choose">
        <div class="choose-1 py-5">
            <div class="container py-md-4 mt-md-3">
                <div class="row inner_w3l_agile_grids-1 ">
                    <div class="col-lg-7 w3layouts_choose_left_grid1">
                        <div class="choose_top">
                            <h3 class="w3l_header text-white">میڈیکل انسائکلوپیڈیا کیا ہے؟</h3>
                            <h4 class="mb-3 mt-3 text-white">جانیے باآسانی ہر بیماری کے بارے میں</h4>
                            <p class="text-white">طبی انسائیکلوپیڈیا ایک جامع تحریری مرکب ہے جس سے بیماریوں، طبی حالتوں، ٹیسٹ، علامات، زخموں اور سرجریوں کے بارے میں معلومات حاصل ہوتی ہے. اس میں دوا سے منسلک تصاویر اور عکاسات کی ایک وسیع گیلری گیلری شامل ہوسکتی ہے طبی انسائیکلوپیڈیا صحت کے سوالات کے بارے میں قارئین کے لئے معلومات فراہم کرتا ہے. اس میں بیماریوں کی تاریخ کے بارے میں کچھ معلومات بھی شامل ہوسکتی ہے، اس کے ابتدائی مرحلے میں طبی ٹیکنالوجی کی ترقی بیماریوں کا پتہ لگانے کے لئے استعمال کرتی ہے. کسی بھی اور تمام طبی حالتوں کی تشخیص اور علاج کے لۓ ایک لائسنس یافتہ ڈاکٹر کو مشورہ دیا جانا چاہئے.</p>
                            <a href="https://en.wikipedia.org/wiki/Medical_encyclopedia" class="btn btn-primary mt-3">مزید جانیے</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //choose -->
    <!-- case studies -->
    <section class="case_w3ls  py-lg-5">
        <div class="container py-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h3 class="w3l-sub">
                    طبی خدمات</h3>
                    <h5 class="sub-title py-3">جانیے ہر بیماری کا علاج</h5>
            </div>
            <!-- case studies row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="img1 img-grid  d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>علامات بتایں</h4>
                            <span> </span>
                            <p>یوزر اپنی علامات کے بارے میں بتا کر باآسانی بیماری اسکی وجوہات اور اسکی علاج کے بارے میں جانیے</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-md-0 mt-4">
                    <div class="img1 img2 img-grid  d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>دل کی سرجری</h4>
                            <span> </span>
                            <p>دل کی سرجری ایک اہم آپریشن ہے جو ایک ہفتے کے اندر یا ایک سے زیادہ ہسپتال کی ضرورت ہوتی ہے.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-lg-0 mt-4">
                    <div class="img1 img3 img-grid  d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>ایمر جنسی کی صورت</h4>
                            <span> </span>
                            <p>زیادہ سے زیادہ ہسپتالوں کے ہنگامی محکموں کو روزانہ 24 گھنٹوں تک چلتا ہے،. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="img1 img5 img-grid  d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>دانتوں کی حفاظت</h4>
                            <span> </span>
                            <p>دانتوں کی دیکھ بھال صحت مند دانتوں کی دیکھ بھال ہے اور زبانی حفظان صحت، دانتوں کا سامان، زبانی سرجری کا حوالہ دیتے ہیں </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  mt-4">
                    <div class="img1 img4 img-grid  d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>انفرادی نقطہ نظر</h4>
                            <span> </span>
                            <p>جراثیمی طریقہ کار جس کے ذریعہ ایک جسمانی حصے تک رسائی حاصل ہوتی ہے. مرریم - ویسٹرٹر سے زیادہ نقطہ نظر. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="img1 img6 img-grid  d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>قابل ڈاکٹر</h4>
                            <span> </span>
                            <p>کنسلٹنٹس سینئر ڈاکٹر ہیں جنہوں نے طب کے ایک خاص علاقے میں مکمل طبی تربیت مکمل کرلی ہے اور جی ایم سی کے ماہر رجسٹرڈ میں درج کی گئی ہے </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //case studies row -->
        </div>
    </section>
    <!-- //case studies -->
  
    <!-- login  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Login">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-secondary">
                                    <span></span>Remember me?
                                </label>
                            </div>
                            <div class="col forgot-w3l text-right">
                                <a href="#" class="text-secondary">Forgot Password?</a>
                            </div>
                        </div>
                        <p class="text-center dont-do">
                            Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter2" class="text-dark font-weight-bold">
                                Register Now
                            </a>

                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="modal-title text-center text-dark mb-4">REGISTER NOW</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="col-form-label">First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2 col-form-label">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>
                            <div class="reg-w3l">
                                <button type="submit" class="form-control submit mb-4">Register</button>
                            </div>
                            <p class="text-center pb-4">
                                <a href="#" class="text-secondary">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->
    <!-- //footer -->
    <!-- js -->
    <script src="/frontPage/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <script src="/frontPage/js/minimal-slider.js"></script>
    <!-- flexSlider (for testimonials) -->
    <!-- Calendar -->
    <link rel="stylesheet" href="/frontPage/css/jquery-ui.css" />
    <script src="/frontPage/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <!-- //Calendar -->

    <script defer src="/frontPage/js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider (for testimonials) -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- start-smooth-scrolling -->
    <script src="/frontPage/js/move-top.js"></script>
    <script src="/frontPage/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/frontPage/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/frontPage/js/bootstrap.js"></script>
</body>
</html>