
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>صارفین</h3>
    
    <br><br>
    <a href="@Url.Action("Export","DoctorDiseaseReport")">Export Report</a>
</body>
</html>
