@model DB55.ViewModel.AddModel

@{
    ViewBag.Title = "AddItems";
}

<h2>AddItems</h2>

<div>
    <h4>AddModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <tr>
        <td>
            <button value="Add Disease" class="btn btn-default">  @Html.ActionLink("Add Disease", "AddDisease", "Disease" ) </button>
           
        </td>
    </tr>
    
</p>
